---
---

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #00701a !default;
$header-bg-color-secondary: #c0ca33 !default;

// Text
$section-headings-color: #43a047 !default;
$body-text-color: #606c71 !default;
$body-link-color: #c79100 !default;
$blockquote-text-color: #819198 !default;

@import "{{ site.theme }}";

.features {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  
  @include small {
    justify-content: center;
  }
  
  .feature {
    display: flex;
    flex-flow: column nowrap;
    width: 30%;

    @include small {
      width: 80%;
    }

    .material-icons {
      font-size: 6rem;
      align-self: center;
    }
  }
}


.download-btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: $body-link-color;
  border-color: $body-link-color;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: $header-bg-color-secondary;
    border-color: $header-bg-color-secondary;
  }

  + .download-btn {
    margin-left: 1rem;
  }

  @include large {
    padding: 0.75rem 1rem;
  }

  @include medium {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }

  @include small {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;

    + .download-btn {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}
