---
---

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #00701a !default;
$header-bg-color-secondary: #c0ca33 !default;

// Text
$section-headings-color: #43a047 !default;
$body-text-color: #606c71 !default;
$body-link-color: #c79100 !default;
$blockquote-text-color: #819198 !default;

@import "{{ site.theme }}";
